.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.completed-task{
  opacity: 50%;
}
.activeButton{
 background-color: lightblue;
}
.red{
  color: black;
}
.red:hover{
  box-shadow:
          1px 1px #53ea93,
          2px 2px #53ea93,
          3px 3px #53ea93,
          4px 4px #53ea93,
          5px 5px #53ea93,
          6px 6px #53ea93,
          7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
.error{
  border-color: red;
}

.filter-border{
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 20px;
  font-size: 12px;
  color: white;
  background-color: lightgreen;
}
