
.button {
    color: white;
    background: lightslategray;
    margin: 5px;
    border-radius: 8px;
}
.buttonDelete{
    color: black;
    background: lightpink;
    margin-left: 10px;
    border-radius: 25px;
}
.buttonAdd{
    color: black;
    background: aqua;
    margin-left: 5px;
    border-radius: 8px;
}